#pics img {
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 30px;
}

#txt {
    margin-left: 10px;
}

#pics2 img{
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 80px;
}

.btn-toolbar {
    margin-left: 30px
}